<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath*:application.properties"/>

    <bean id="mongo" class="com.mongodb.MongoClient">
        <constructor-arg name="host" value="${mongo.host.name}"/>
        <constructor-arg name="port" value="${mongo.host.port}"/>
    </bean>


    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="${mongo.db.name}"/>
    </bean>

    <!-- Repozytoria -->
    <mongo:repositories base-package="com.database.mongodb.repository"/>
    <!-- Taski -->
    <context:component-scan base-package="com.server.task"/>

    <bean id="testTimerTask" class="com.server.task.TestTimerTask"></bean>

    <!-- Timer -->
    <bean id="scheduledTimerTask" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
        <!-- uruchamiany co sekunde -->
        <property name="period" value="1000"></property>
        <property name="runnable" ref="testTimerTask"></property>
    </bean>

    <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <ref local="scheduledTimerTask"></ref>
            </list>
        </property>
    </bean>
</beans>

